# preimenuj v .env

# MariaDB povezava
DATABASE_URL=jdbc:mariadb://<HOST>:<PORT>/<DB_NAME>?createDatabaseIfNotExist=true
DATABASE_USERNAME=<DB_USERNAME>
DATABASE_PASSWORD=<DB_PASSWORD>

# OAuth2 (Google)
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

# Telegram bot
TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>



# ARSO API URL
ARSO_API_URL=https://dostop.rtvslo.si/vodostaj/hidro_podatki_zadnji.xml

# SendGrid
SENDGRID_API_KEY=<SENDGRID_API_KEY>
SENDGRID_SENDER_EMAIL=<SENDGRID_SENDER_EMAIL>

# VAPID keys for Web Push
VAPID_PUBLIC_KEY=<VAPID_PUBLIC_KEY>
VAPID_PRIVATE_KEY=<VAPID_PRIVATE_KEY>
VAPID_SUBJECT=mailto:<YOUR_EMAIL>
